@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #43aa8b;
  --secondary-color: #95a78d;
  --third-color: #868686;
  --text-color: #fff;
  --text-color-2: #9e9e9e;
  --button-color: #3498db;
  --button-hover-color: #2980b9;
  --background-color: #374a67;
  --box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.5);
  --text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.41);
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.5s ease-in-out;
}

.title {
  text-align: center;
  margin: 100px auto 50px;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  background-color: var(--text-color-2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  width: 90%;
  margin: auto;
  max-width: 600px;
  height: 55px;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

form .input {
  flex: 1;
  height: 100%;
  border: none;
  outline: 0;
  background: transparent;
  color: var(--text-color);
  padding: 0 30px;
  font-size: 1.125rem;
  text-transform: uppercase;
}

form .search-btn {
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0 20px;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.5s linear;
}

form .search-btn i {
  font-size: 1.5rem;
  transition: all 0.5s linear;
}

form .search-btn i:hover {
  transform: scale(0.9);
}

form .search-btn:hover {
  background-color: #317e67d9;
}

form input::placeholder {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.125rem;
}

#load-more-btn {
  background: var(--button-color);
  color: #eee;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px auto 55px;
  cursor: pointer;
  text-transform: uppercase;
  display: none;
}

#load-more-btn:hover {
  background: var(--button-hover-color);
  color: #fff;
  transition: all 0.5s linear;
}

#imageContainer {
  width: 95%;
  margin: 70px auto 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

#imageContainer img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  transition: all 0.5s linear;
}

#imageContainer img:hover {
  transform: scale(1.02);
  overflow: hidden;
}

@media (max-width: 1020px) {
  #imageContainer {
    width: 97%;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.125rem;
  }

  form .input,
  form .search-btn {
    font-size: 0.9rem;
  }

  form .search-btn {
    padding: 0 20px;
  }

  form {
    width: 95%;
    height: 45px;
  }

  form .input {
    padding: 0 10px;
    font-size: 0.8rem;
  }

  form input::placeholder {
    font-size: 0.8rem;
  }

  #imageContainer {
    width: 97%;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #imageContainer img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
}
